################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/coverage
/mobile-center-artifacts.zip
/.vscode
/.taskkey
